*~
*.pyc
*.o
*.lo
*.la
*.defs
*.log
.deps
*.db
*.gz
compile
config.*
autom4te.cache/*
aclocal.m4
config.*
configure
Makefile
*/Makefile
Makefile.in
*/Makefile.in
.libs/
*/.libs/
stamp-h1
rpcsyncwerk-demo-server
rpcsyncwerk-demo-client
rpcsyncwerk-async-client
pyrpcsyncwerk/fcallfret.h
m4/l*
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
cscope.files
cscope.out
lib/fcall-impr.h
lib/marshal.h
lib/rpcsyncwerk-dfun.h
lib/rpcsyncwerk-fcall.h
lib/rpcsyncwerk-signature.h
tests/test-rpcsyncwerk
cscope*
pyrpcsyncwerk/rpc_table.py
*.pc
demo/rpcsyncwerk-marshal.h
demo/rpcsyncwerk-signature.h
demo/rpc_table.stamp
demo/rpc_table.tmp
tests/rpcsyncwerk-marshal.h
tests/rpcsyncwerk-signature.h
tests/rpc_table.stamp
tests/rpc_table.tmp
tests/clar.suite
tests/.clarcache
tests/*.trs
test-driver
